@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nh-picker-theme-light {
  --indicator-color: rgba(91, 66, 243, 0.79);
  --blue-light: rgb(136, 120, 244);
  --primary-color: #fff;
  --secondary-color: rgba(2, 0, 0, 0.50);
  --button-span-color: #333;
}


.nh-picker-theme-dark {
  //--indicator-color: rgba(91, 66, 243, 0.79);
  --indicator-color: #5AB2FF;
  --blue-light: rgb(136, 120, 244);
  //--primary-color: rgb(33, 37, 41);
  --primary-color: #2C4E80;
  --secondary-color: rgba(255, 255, 255, 0.35);
  --button-span-color: #fff;
}

$indicatorColor: var(--indicator-color);
$blueLight: var(--blue-light);
$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$buttonSpanColor: var(--button-span-color);

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
  //display: flex;
  //justify-content: flex-end;
  //align-items: center;
}

@mixin span-hover {
  &:hover {
    background-color: $indicatorColor !important;
    color: $primaryColor !important;
    border-radius: 3px;
  }
}

@mixin span-hover-r($radius) {
  &:hover {
    background-color: $indicatorColor !important;
    color: $primaryColor !important;
    border-radius: $radius;
  }
}

@mixin nh-picker {
  height: auto;
  width: 300px;
  background-color: $primaryColor;
  border: 1px solid $indicatorColor;
  padding: 10px;
  border-radius: 7px;
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  z-index: 9999;

  &::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    height: 12px;
    width: 12px;
    border-radius: 5px 0 20px 0;
    border: 1px solid $indicatorColor;
    border-right: none;
    border-bottom: none;
    background-color: $primaryColor;
  }

  &.before-top::before {
    top: -6px;
    border-radius: 5px 0 20px 0;
    border: 1px solid $indicatorColor;
    border-right: none;
    border-bottom: none;
  }

  &.before-bottom:before {
    bottom: -6px;
    border-radius: 20px 0 5px 0;
    border: 1px solid $indicatorColor;
    border-left: none;
    border-top: none;
  }

  &.before-left:before {
    left: 20px;
  }

  &.before-middle:before {
    left: calc(50% - 6px);
  }

  &.before-right:before {
    right: 20px;
  }

  button, span, div, input {
    color: $buttonSpanColor;
  }
}

.nh-picker {
  @include nh-picker;

  .nh-datepicker-calendar {
    height: 100%;
    width: 100%;

    .nh-calendar-header {
      display: grid;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      grid-template-columns: repeat(3, auto);
      padding: 2px 5px;

      .nh-header-content-text {
        padding: 2px 25px !important;
        text-align: center;
        text-transform: capitalize;
      }

      span {
        button {
          background: none;
          outline: none;
          padding: 5px 15px;
          border: 1px solid $indicatorColor;
          border-radius: 20px;
          user-select: none;

          &:hover {
            background-color: $indicatorColor !important;
            color: $primaryColor !important;
          }
        }

        &.nh-header-content-text {
          padding: 5px 10px;
          border: 1px solid $indicatorColor;
          border-radius: 20px;
          user-select: none;
        }

        &.nh-prev-month, &.nh-next-month {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
          border: 1px solid $indicatorColor;
          border-radius: 20px;
          user-select: none;

          .arrow-svg {
            .arrow-svg-path {
              fill: $buttonSpanColor;
            }
          }

          &:not(.inactive):hover {
            background-color: $indicatorColor !important;
            color: $primaryColor !important;
          }
        }
      }
    }

    .nh-calendar-days {
      margin-top: 10px;

      .nh-day-names, .nh-day-date {
        display: grid;
        grid-template-columns: repeat(7, auto);
        gap: 1px;

        span {
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
          padding: 3px 0;
          font-size: 16px;

          &.nh-current {
            @include span-hover;
          }

          &.nh-current-disable {
            color: $secondaryColor;
          }

          &.nh-previous-days, &.nh-next-days {
            color: $secondaryColor;
          }
        }
      }

      .nh-day-date {
        span {
          font-weight: normal;
          margin: 5px 0;
        }
      }
    }

    .nh-years {
      display: grid;
      grid-template-columns: repeat(5, auto);
      gap: 1px;
      margin-top: 10px;

      span {
        text-align: center;
        background-color: $primaryColor !important;
        text-transform: uppercase;
        padding: 3px 0;
        font-size: 16px;
        margin: 5px 0;

        &.nh-current-disable {
          color: $secondaryColor;
        }

        &.nh-year-valid {
          @include span-hover;
        }

        &.nh-span-active {
          background-color: $indicatorColor !important;
          color: $primaryColor !important;
          border-radius: 3px;
        }
      }
    }

    .nh-month {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 1px;
      margin-top: 10px;

      span {
        text-align: center;
        background-color: $primaryColor !important;
        text-transform: capitalize;
        padding: 3px 0;
        font-size: 16px;
        margin: 5px 0;

        &.nh-current-disable {
          color: $secondaryColor;
        }

        &.nh-month-valid {
          @include span-hover;
        }

        &.nh-span-active {
          background-color: $indicatorColor !important;
          color: $primaryColor !important;
          border-radius: 3px;
        }
      }
    }

    .nh-today-section {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background: none;
        outline: none;
        padding: 5px 20px;
        border: 1px solid $indicatorColor;
        border-radius: 20px;
        user-select: none;
        @include span-hover-r(20px);
      }
    }

    .nh-span-active {
      background-color: $indicatorColor !important;
      color: $primaryColor !important;
      border-radius: 3px;
    }

    .nh-active {
      display: grid !important;
    }

    .nh-inactive {
      display: none !important;
    }
  }
}

.nh-time-picker {
  @include nh-picker;
  width: auto !important;

  .nh-time-content {
    display: flex;
    justify-content: space-between;
    position: relative;

    .nh-time-hours, .nh-time-minute, .nh-time-format {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 150px;
      padding: 0 20px;
      width: 70px;

      input {
        margin: 2px 0;
        font-size: 17px;
        height: calc(100% / 5);
        width: 100%;
        border: none !important;
        outline: none !important;
        background: none !important;
        pointer-events: none !important;

        &.nh-active {
          color: $primaryColor !important;
        }
      }
    }

    :not(.nh-time-format) {
      input {

        &:nth-child(1) {
          transform: rotateX(-50deg);
        }

        &:nth-child(2) {
          transform: rotateX(-30deg);
        }

        &:nth-child(4) {
          transform: rotateX(30deg);
        }

        &:nth-child(5) {
          transform: rotateX(50deg);
        }
      }
    }

    .nh-time-format {
      justify-content: center;

      input {
        text-transform: uppercase;
      }

      :is(input.nh-active[value="am"]) {
        transform: none;
        margin-top: 35px;
      }

      :is(input.nh-inactive[value="am"]) {
        transform: none;
        margin-top: -35px;
      }
    }

    .nh-time-selector {
      height: 33px;
      width: 100%;
      background-color: $indicatorColor;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 10px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: -1;

      span {
        color: white;
        font-size: 20px;
      }
    }
  }
}
