* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  //justify-content: center;
  align-items: center;
}

.nh-picker {
  height: auto;
  width: 300px;
  background-color: aqua;
  padding: 5px;
  border-radius: 5px;
  position: absolute;

  .nh-datepicker-calendar {
    height: 100%;
    width: 100%;
    background-color: tomato;

    .nh-calendar-header {
      display: grid;
      justify-content: space-between;
      align-content: center;
      grid-template-columns: repeat(3, auto);
      padding: 2px 5px;
      background-color: #cccccc;

      .nh-header-content-text {
        text-align: center;
        text-transform: capitalize;
      }
    }

    .nh-calendar-days {
      .nh-day-names, .nh-day-date {
        display: grid;
        grid-template-columns: repeat(7, auto);
        gap: 1px;

        span {
          text-align: center;
          background-color: red;
          text-transform: uppercase;
          padding: 3px 0;
          font-size: 16px;
        }
      }

      .nh-day-date {
        span {
          background-color: #fff;
        }
      }
    }

    .nh-years {
      display: grid;
      grid-template-columns: repeat(5, auto);
      gap: 1px;

      span {
        text-align: center;
        background-color: #fff;
        text-transform: uppercase;
        padding: 3px 0;
        font-size: 16px;
      }
    }

    .nh-month {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 1px;

      span {
        text-align: center;
        background-color: #fff;
        text-transform: capitalize;
        padding: 3px 0;
        font-size: 16px;
      }
    }

    .nh-span-active {
      background-color: green !important;
      color: aqua;
    }

    .nh-active {
      display: grid !important;
    }

    .nh-inactive {
      display: none !important;
    }
  }
}
