@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nh-picker {
  height: auto;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.32);
  border: 1px solid rgba(91, 66, 243, 0.79);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
.nh-picker::before {
  content: "";
  position: absolute;
  top: -8.5px;
  left: calc(50% - 7.5px);
  transform: rotate(45deg);
  height: 15px;
  width: 15px;
  border-radius: 5px 0 20px 0;
  border: 1px solid rgba(91, 66, 243, 0.79);
  border-right: none;
  border-bottom: none;
  background-color: rgb(255, 255, 255);
}
.nh-picker .nh-datepicker-calendar {
  height: 100%;
  width: 100%;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-header {
  display: grid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  padding: 2px 5px;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-header .nh-header-content-text {
  text-align: center;
  text-transform: capitalize;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-header span button {
  background: none;
  outline: none;
  padding: 5px 20px;
  border: 1px solid rgba(91, 66, 243, 0.79);
  border-radius: 20px;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-header span button:hover {
  background-color: rgba(91, 66, 243, 0.79) !important;
  color: #fff !important;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-header span.nh-prev-month, .nh-picker .nh-datepicker-calendar .nh-calendar-header span.nh-next-month {
  padding: 5px 10px;
  border: 1px solid rgba(91, 66, 243, 0.79);
  border-radius: 20px;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-header span.nh-prev-month:hover, .nh-picker .nh-datepicker-calendar .nh-calendar-header span.nh-next-month:hover {
  background-color: rgba(91, 66, 243, 0.79) !important;
  color: #fff !important;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-days {
  margin-top: 10px;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-names, .nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-date {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 1px;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-names span, .nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-date span {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3px 0;
  font-size: 16px;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-names span.nh-current:hover, .nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-date span.nh-current:hover {
  background-color: rgba(91, 66, 243, 0.79) !important;
  color: #fff !important;
  border-radius: 3px;
}
.nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-names span.nh-previous-days, .nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-names span.nh-next-days, .nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-date span.nh-previous-days, .nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-date span.nh-next-days {
  color: rgba(2, 0, 0, 0.5);
}
.nh-picker .nh-datepicker-calendar .nh-calendar-days .nh-day-date span {
  font-weight: normal;
  margin: 10px 0;
}
.nh-picker .nh-datepicker-calendar .nh-years {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1px;
  margin-top: 10px;
}
.nh-picker .nh-datepicker-calendar .nh-years span {
  text-align: center;
  background-color: #fff;
  text-transform: uppercase;
  padding: 3px 0;
  font-size: 16px;
  margin: 10px 0;
}
.nh-picker .nh-datepicker-calendar .nh-years span:hover {
  background-color: rgba(91, 66, 243, 0.79) !important;
  color: #fff !important;
  border-radius: 3px;
}
.nh-picker .nh-datepicker-calendar .nh-month {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1px;
  margin-top: 10px;
}
.nh-picker .nh-datepicker-calendar .nh-month span {
  text-align: center;
  background-color: #fff;
  text-transform: capitalize;
  padding: 3px 0;
  font-size: 16px;
  margin: 10px 0;
}
.nh-picker .nh-datepicker-calendar .nh-month span:hover {
  background-color: rgba(91, 66, 243, 0.79) !important;
  color: #fff !important;
  border-radius: 3px;
}
.nh-picker .nh-datepicker-calendar .nh-span-active {
  background-color: rgba(91, 66, 243, 0.79) !important;
  color: #fff !important;
  border-radius: 3px;
}
.nh-picker .nh-datepicker-calendar .nh-active {
  display: grid !important;
}
.nh-picker .nh-datepicker-calendar .nh-inactive {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
